.about{
    padding-top: 7em;
    width: 100%;
    background-color: #201e37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10em;
}

.aboutPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 2em;
    width: 30%;
    gap: 2em;
    position: relative;

        &__img{

            width: 15em;
            transform: rotate(20deg);
            position: absolute;
            filter: invert(50%);
            top: -50px;
            left: 150px;
            
        }

        &__h2{
            color: #49aeed;
            text-align: left;
            font-size: 2em;
            z-index: 1;
            padding-bottom: 20px;
        }

        &__p{
            color: aliceblue;
            text-align: left;
            font-size: 1.3em;
            z-index: 1;
        }

}

.aboutContainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 30%;
    flex-wrap: wrap;
}


.showExperience, .showEducation{

    width: 90%;
    background-color: #2a2a66;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2em;
    padding: 2em;

    &__icon{
        display:none;
        margin-bottom: 2em;
        width: 5em;
        filter: invert(80%);

        &--profession{
            display: none;
            margin-bottom: 2em;
            width: 4em;
            filter: invert(80%);
        }
    }

    &__h3{
        color: #49aeed;
        text-align: center;
        font-size: 1.4em;
    }

    &__p{
        color: aliceblue;
        line-height: 2em;
        text-align: center;
        padding: 1.5em;

       
    }

    &__button{
        border: solid 1px #49aeed;
        border-radius: 1em;
        background-color: #2a2a66;
        color:#2a2a66;
        font-size: 1em;
        transition: 0.5s;
        font-weight: 500;
        font-family: 'Montserrat';
    }

    &__button:hover{
        background-color: aliceblue;
        transition: 0.5s;
        color:#2a2a66;
        border: 1px solid #2a2a66
    }

   

    &__Link{
        text-decoration: none;
        text-align: center;
        padding: 1em;
        border: solid 1px #4cb4f9;
        border-radius: 1em;
        background-color: #4cb4f9;
        color:aliceblue;
        font-size: 1em;
        transition: 0.3s;
        font-weight: 500;
        font-family: 'Montserrat';
        width: 90%;
    }

    
    &__Link:active{
        background-color: aliceblue;
        transition: 0.3s;
        color:#2a2a66;
    }

    &__Link:hover{
        background-color: aliceblue;
        transition: 0.3s;
        color:#2a2a66;
    }

    
}


@media screen and (max-width:1300px) {

    .about{
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding-top: 9em;
    }
    
    .aboutPresentation{
        width: 90%;
        flex-direction: column;
        align-items: center;

        &__img{
            width: 15em;
            top: -300px;
            left: -200px;
            position: static;
            transform: rotate(0deg);
            padding-bottom: 2em;
        }
        
        
        &__p{
            text-align: center; 
        }
    }
    
    .aboutContainers{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    .showExperience, .showEducation{
        width: 45%;
        
        &__icon{
            display: block;

            &--profession{
                display: block;
            }
        }
    }
}

@media screen and (max-width: 880px) {

    .about{
        padding-top: 2em;
    }
    .aboutPresentation{

        &__p{
            font-size: 1em;
        }
    }

    .aboutContainers{
        flex-direction: column;
        height: auto;
    }

    .showExperience, .showEducation{

        width: 80%;

      &__h3{
        color: #49aeed;
        text-align: center;
        font-size: 1.2em;
    }

      &__p{
        color: aliceblue;
        line-height: 2em;
        text-align: center;
        padding: 2em;
        font-size: 1em;
       
    }

    &__Link{
        font-size: 1em;
    }

    }
    
}

@media screen and (max-width: 400px){
   
    
    .aboutContainers{
        flex-direction: column;
        height: auto;
        width: 100%;
        
    }

    .showExperience, .showEducation{

        width: 90%;

      &__h3{
        color: #49aeed;
        text-align: center;
        font-size: 1.2em;
    }

      &__p{
        color: aliceblue;
        line-height: 2em;
        text-align: center;
        padding: 2em;
        font-size: 1em;
       
    }

    &__Link{
        font-size: 1em;
    }

    }
} 