.faqSection {
  width: 100%;
  background-color: #201e37;
}

.faqTitle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;

  &__p {
    color: aliceblue;
    font-size: 1.2em;
  }

  &__h2 {
    color: #49aeed;
    font-size: 2em;
  }
}

.faqContainer {
  background-color: red;
}

.accordion {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.item {
  background-color: #2a2a66;
  border-radius: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #2a2a66;
  border-radius: 10px;
  cursor: pointer;
  transition:0.5s;

  &__h2 {
    padding-left: 1.25em;
    // color: #2a2a66;
    color: #49aeed; 
    font-size: 1.1em;
    width: 75%;
  }

  &__span {
    font-size: 2em;
    margin-right: 1em;
    color: #2a2a66;
  }
}

.content {
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;

  &__p {
    padding: 2em;
    line-height: 2em;
  }
}

.contentShow {
  height: auto;
  transition: 0.5s;
  color: aliceblue;
  background-color: #201e37;
  border:solid 1px #49aeed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media screen and (max-width: 900px) {

  .faqTitle{
    width: 90%;
    margin: auto;

    &__p{
      padding-bottom: 1em;
    }
  }

  .title{

    &__h2{
      font-size: 1em;
    }
  }

  .accordion{
    width: 90%;
  }
}