.menu{
    padding-top: 7em;
    width: 100%;
    background-color: #201e37;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.showExperience, .showEducation{

    width: 35em;
    background-color: #2a2a66;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2em;
    padding: 2em;

    &__icon{
        margin-bottom: 2em;
        width: 5em;
        filter: invert(80%);

        &--profession{
            margin-bottom: 2em;
            width: 4em;
            filter: invert(80%);
        }
    }

    &__h3{
        color: #49aeed;
        text-align: center;
        font-size: 1.4em;
    }

    &__p{
        color: aliceblue;
        line-height: 2em;
        text-align: center;
        padding: 2em;

       
    }

    &__button{
        border: solid 1px #49aeed;
        border-radius: 1em;
        background-color: #49aeed;
        color:#2a2a66;
        font-size: 1em;
        transition: 0.5s;
        font-weight: 500;
        font-family: 'Montserrat';
    }

    &__button:hover{
        background-color: aliceblue;
        transition: 0.5s;
        color:#2a2a66;
        border: 1px solid #2a2a66
    }

   

    &__Link{
        text-decoration: none;
        text-align: center;
        padding: 1em;
        border: solid 1px #4cb4f9;
        border-radius: 1em;
        background-color: #4cb4f9;
        color:#2a2a66;
        font-size: 1em;
        transition: 0.3s;
        font-weight: 500;
        font-family: 'Montserrat';
        width: 20em;
    }

    
    &__Link:active{
        background-color: aliceblue;
        transition: 0.3s;
        color:#2a2a66;
    }

    &__Link:hover{
        background-color: aliceblue;
        transition: 0.3s;
        color:#2a2a66;
    }

    
}

// border: solid 1px #2a2a66;
// background-color: #4cb4f9;