.habilities{
    padding-top: 8em;
    width: 100%;
    background-color: #201e37;
    padding-bottom: 2em;

    &__title{
        display: flex;
        flex-direction: column;
        color: #49aeed;
        width: 90%;
        margin: auto;
    }

    &__p{
        text-align: center;
        padding: 2em;
        margin: auto;
        line-height: 1.5em;
        font-size: 1.1em;
        color: aliceblue;
    }

    &__h2{
        text-align: center;
        font-size: 2em;
        padding-bottom: 2em;
    }
}

.habilitiesContainer,
.professionContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding-top: 1em;
}

.skills{

    background-color: #2a2a66;
    padding: 2em;
    border-radius: 2em;
    width: 30%;

    &__h3{
        color:aliceblue;
        text-align: center;
        padding-bottom: 3em;
        color: #49aeed;
        font-size: 1.4em;
    }


    &__ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.5em;
        justify-content: space-between;
    }

    &__li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        width: 90%;
        font-size: 1em;
    }

    &__img{

        width: 35px;

    }

    &__p{
        color: aliceblue;
        font-size: 0.9em;
        font-weight: 600;
                
        &--level{
            color: aliceblue;
        }
    }

}

@media screen and (max-width:1400px) {

    .skills{

        &__ul{
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
        }
    }
    
}

@media screen and (max-width: 1200px) {

    .habilitiesContainer,
    .professionContainer{
        flex-direction: column;
        width: 50%;
        justify-content: center;
        margin: auto;
    }
    
    .skills{
        width: 90%;
        margin:auto

    }
    
}

@media screen and (max-width: 700px) {
    
    .habilitiesContainer{
        justify-content: center;
        width: 100%;
    }

    .skills{
        width: auto;
    }
}

@media screen and (max-width: 400px){
    
    .habilities{
        padding-top: 2em;
    }

    .habilitiesContainer{
        justify-content: center;
        width: 100%;
    }

    .skills{
        width: 90%;
    }
}