.education{
    background-color: #201e37;
    color:aliceblue;

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 5em;
        
    }

    &__p{
        text-align: center;
        font-size: 1.4em;
    }

    &__h2{
        color:#49aeed;
        padding-top: 1em;
        font-size: 2.1em;
        text-align: center;
        padding-bottom: 5em;
        
    }
}

.studies{   


    &__container{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    &__elements{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5em;
        margin-bottom: 5em;
        
    }

    &__elements:nth-child(even){
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
    }

    &__img{
        width: 10em;
        border-radius: 10px;
        
        
    }
    
    &__content{
        width: 60%;
        background-color: #2a2a66;
        padding: 2em;
        border-radius: 10px;

    }

    &__h2{
        color:#49aeed;
        padding-bottom: 0.2em;
    }

    &__h4{
        padding-bottom: 0.1em;
    }

    &__h3{
        padding-bottom: 1.2em;
    }

    &__p{

    }
    
    
}

.buttonsNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding-bottom: 5em;
    padding-top: 5em;
    

    .home__link,
    .experience__link{
        border: solid 1px #49aeed;
        background-color: #49aeed;
        width: 300px;
        text-decoration: none;
        color: whitesmoke;
        letter-spacing: 2px;
        text-align: center;
        padding: 1em;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.5s;
        
        &:hover{
            background-color: whitesmoke;
            border: solid 1px whitesmoke;
            color: #2a2a66;
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 900px) {

    .education{ 

        .studies{
            display: flex;
            flex-direction: column;
            
            &__container{
                width: 100%;
                gap: 1em;
            }

            &__elements{
                flex-direction: column;
                gap: 1em;
                text-align: center;
            }
    
            &__content{
                width: 90%;
            }
        }

        
    }
        .buttonsNav{
        flex-direction: column;
        align-items: center;

        .home__link
        .education__link{
           width: 600px;
        }
    }
}