.experience{
    background-color: #201e37;
    color:aliceblue;

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 5em;
        
    }

    &__p{
        text-align: center;
        font-size: 1.4em;
    }

    &__h2{
        color:#49aeed;
        padding-top: 1em;
        font-size: 2.1em;
    }

}

.timeline{
    background-color: #201e37;
    margin-top: 5em ;
    padding-bottom: 5em;

    
    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        position: relative;
    }

    &__items::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: aliceblue;
        left: calc(50% - 1px);

    }

    &__eachItem{
        margin-bottom: 5em;
        padding: 2em;
        width: 100%;
        position: relative;
    }

    &__eachItem:nth-child(odd){
        padding-right: calc(20% + 31%);
        text-align: right;

        
        
    }

    &__eachItem:nth-child(even){
        padding-left: calc(20% + 31%);
        
    }

    &__dot{
        display: block;
        height: 20px;
        width: 20px;
        background-color: #49aeed;
        position: absolute;
        left:calc(50% - 10px);
        border-radius: 5em;
    }

    &__date{
        margin-bottom: 2em;
        padding-right: 0.8em;
        padding-left: 0.8em;
        font-size: 1.4em;

    }

    &__content{
        background-color: #2a2a66;
        padding: 2em;  
        border-radius: 10px;
    }

    &__h3{
        color: #49aeed;
        font-size: 1.4em;
        font-weight: 600;
        padding-bottom: 0.2em;
        
    }

    &__h4{
        padding-bottom: 1em;
    }

    &__p{
        line-height: 1.4em;
    }

}

.buttonsNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding-bottom: 5em;
    padding-top: 5em;
    

    .home__link,
    .education__link{
        border: solid 1px #49aeed;
        background-color: #49aeed;
        width: 300px;
        text-decoration: none;
        color: whitesmoke;
        letter-spacing: 2px;
        text-align: center;
        padding: 1em;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.5s;
        
        &:hover{
            background-color: whitesmoke;
            border: solid 1px whitesmoke;
            color: #2a2a66;
            transition: 0.5s;
        }
    }

    

}

@media screen and (max-width: 900px) {

    .timeline{
        &__eachItem:nth-child(odd),
        &__eachItem:nth-child(even){
            padding-right: 5%;
            padding-left: 5%;
        }
        &__items::before{
            left: 9px;
        }

        &__dot{
            left: 0;
        }
        &__eachItem:nth-child(odd){
            text-align: left;
        }
        
        &__content{
            margin-left: 3%;
        }
    
    }

    .buttonsNav{
        flex-direction: column;
        align-items: center;

        .home__link,
        .education__link{
           width: 600px;
        }
    }
}